/**********
 * Roboto *
 **********/

/* Roboto Thin (200) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url(fonts/Roboto-ThinItalic.ttf) format('truetype');
}

/* Roboto Light (300) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url(fonts/Roboto-LightItalic.ttf) format('truetype');
}

/* Roboto Regular (400) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(fonts/Roboto-Italic.ttf) format('truetype');
}

/* Roboto Medium (500) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url(fonts/Roboto-MediumItalic.ttf) format('truetype');
}

/* Roboto Bold (700) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: Italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url(fonts/Roboto-BoldItalic.ttf) format('truetype');
}

/* Roboto Black (900) with italic variant */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto BlackItalic'), local('Roboto-BlackItalic'), url(fonts/Roboto-BlackItalic.ttf) format('truetype');
}

/********
 * Rift *
 ********/

/* Rift Light (300) with italic variant */
@font-face {
  font-family: 'Rift';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rift Light'), local('Rift-Light'), url(fonts/Rift-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Rift';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rift Light Italic'), local('Rift-Light-Italic'), url(fonts/Rift-Light-Italic.otf) format('opentype');
}

/* Rift Regular (400) with italic variant */
@font-face {
  font-family: 'Rift';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rift Regular'), local('Rift-Regular'), url(fonts/Rift-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Rift';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rift Italic'), local('Rift-Italic'), url(fonts/Rift-Italic.otf) format('opentype');
}

/* Rift Medium (500) with italic variant */
@font-face {
  font-family: 'Rift';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rift Medium'), local('Rift-Medium'), url(fonts/Rift-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Rift';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Rift Medium Italic'), local('Rift-Medium-Italic'), url(fonts/Rift-Medium-Italic.otf) format('opentype');
}

/* Rift Demi (600) with italic variant */
@font-face {
  font-family: 'Rift';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Rift Demi'), local('Rift-Demi'), url(fonts/Rift-Demi.otf) format('opentype');
}
@font-face {
  font-family: 'Rift';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Rift Demi Italic'), local('Rift-Demi-Italic'), url(fonts/Rift-Demi-Italic.otf) format('opentype');
}

/* Rift Bold (700) with italic variant */
@font-face {
  font-family: 'Rift';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rift Bold'), local('Rift-Bold'), url(fonts/Rift-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Rift';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rift Bold Italic'), local('Rift-Bold-Italic'), url(fonts/Rift-Bold-Italic.otf) format('opentype');
}

/************
 * RiftSoft *
 ************/

/* RiftSoft Light (300) with italic variant */
@font-face {
  font-family: 'RiftSoft';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('RiftSoft Light'), local('RiftSoft-Light'), url(fonts/RiftSoft-Light.otf) format('opentype');
}
@font-face {
  font-family: 'RiftSoft';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Rift-Soft Light Italic'), local('Rift-Soft-Light-Italic'), url(fonts/Rift-Soft-Light-Italic.otf) format('opentype');
}

/* RiftSoft Regular (400) with italic variant */
@font-face {
  font-family: 'RiftSoft';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RiftSoft Regular'), local('RiftSoft-Regular'), url(fonts/RiftSoft-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'RiftSoft';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rift-Soft Italic'), local('Rift-Soft-Italic'), url(fonts/Rift-Soft-Italic.otf) format('opentype');
}

/* RiftSoft Medium (500) with italic variant */
@font-face {
  font-family: 'RiftSoft';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('RiftSoft Medium'), local('RiftSoft-Medium'), url(fonts/RiftSoft-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'RiftSoft';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Rift-Soft Medium Italic'), local('Rift-Soft-Medium-Italic'), url(fonts/Rift-Soft-Medium-Italic.otf) format('opentype');
}

/* RiftSoft Demi (600) with italic variant */
@font-face {
  font-family: 'RiftSoft';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('RiftSoft Demi'), local('RiftSoft-Demi'), url(fonts/RiftSoft-Demi.otf) format('opentype');
}
@font-face {
  font-family: 'RiftSoft';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Rift-Soft Demi Italic'), local('Rift-Soft-Demi-Italic'), url(fonts/Rift-Soft-Demi-Italic.otf) format('opentype');
}

/* RiftSoft Bold (700) with italic variant */
@font-face {
  font-family: 'RiftSoft';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('RiftSoft Bold'), local('RiftSoft-Bold'), url(fonts/RiftSoft-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'RiftSoft';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rift-Soft Bold Italic'), local('Rift-Soft-Bold-Italic'), url(fonts/Rift-Soft-Bold-Italic.otf) format('opentype');
}